{% extends '@CeradGame/Layout.html.twig' %}

{% block content %}
<table>
{% set game = form.vars.value %}        
{{ form_start(form) }}
<tr><td>Game Number</td><td>{{ game.num }}</td></tr>
<tr><td>Date Time  </td><td>{{ form_widget(form.dtBeg) }}</td></tr>
<tr><td>Group      </td><td>{{ cerad_game_group(game) }}</td></tr>
{% for gameTeamForm in form.teams %}
{% set gameTeam = gameTeamForm.vars.value %}
<tr>
    <td>{{ gameTeam.role      }}</td>
    <td>{{ gameTeam.groupSlot }}</td>
    <td>{{ form_widget(gameTeamForm.name) }}</td>
</tr>
{% endfor %}
<tr>
    <td>{{ form_widget(form.reset)  }}</td>
    <td>{{ form_widget(form.update) }}</td>
</tr>
</table>
<div style="display: none;">{{ form_rest(form) }}</div>
{{ form_end(form) }}
<br />
{% include '@CeradGame/Project/Game/Update/ByScorer/GameUpdateByScorerTwigHelp.html.twig' %}
{% endblock %}{# end content block #}
